.nav {
    background: url('/assets/icones/home-background.svg') no-repeat;
    height: 100vh;
    background-position: 35vw bottom;
  }
  .nav-content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
  
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-menu .menu{
    display: flex;
  }
  
  .nav-menu .menu span{
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .nav-menu a:hover {
    transform: translateX(8px);
  }
  
  .nav-menu .menu a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    transition: .5s;
  }