:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f0f0f5;
}

header {
  margin-top: 48px;
}

a {
  text-decoration: none; 
}

.nav {
  background: url('/assets/icones/home-background.svg') no-repeat;
  height: 100vh;
  background-position: 35vw bottom;
}
.nav-content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;

}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu .menu{
  display: flex;
}

.nav-menu .menu span{
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.nav-menu a:hover {
  transform: translateX(10px);
}

.nav-menu .menu a {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
  transition: .5s;
}

.hero {
  max-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-content h1 {
  font-weight: 700;
  font-size: 54px;
  color: var(--title-color);
}

.hero .hero-content p {
  margin-top: 16px;
  font-size: 24px;
  line-height: 38px;
}

.hero .hero-content a {
  display: flex;
  margin-top: 20px;
  max-width: 360px;
  border-radius: 8px;
  height: 72px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  background-color: var(--primary-color);
  align-items: center;
  transition: .5s;
}

.hero .hero-content a:hover {
  background-color: #2fb863;
}
.hero .hero-content a span {
  display: flex;
  height: 72px;
  width: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.hero .hero-content span::after {
  content: '';
  height: 20px;
  width: 20px;
  background-image: url('../assets/icones/search.svg');
}

.hero .hero-content a strong {
  margin-left: 25px;
}

@media (max-width: 900px) {
  .nav {
    background-position-x: 70vw;
  }
  .nav-content {
    justify-content: center;
    align-items: center;
  }
  .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero-content a {
    margin-top: 20px;
  }
}